.footer {
    background-color: #C5CEBF;
    display: flex;
    color: white;
    padding: 50px;
    font-family: 'Red Hat Display', sans-serif;
    flex-direction: column;
}

.footer-img {
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
    img {
        width: 50%;
    }
}

.footer-info {
    flex-grow: 2;
    flex-basis: 0;
    margin: auto;
}

.footer-social {
    flex-grow: 1;
    flex-basis: 0;
    margin: auto;
}

.social-link {
    color: white;
    font-size: 2.5rem;
    &:hover {
        color: white;
    }
}

#fb-link {
    margin-right: 10px;
}

.limit{
    margin-top: 30px;
    color: white;
    border: 1px solid;
}

.copy{
    font-size: 11px;
}

.up {
    position: fixed;
    justify-content: end;
    z-index: 100;
    padding: 20px;
    top: 200px;
    width: 100%;
}