#history{
  margin-left: 100px;

  h1{
    font-family: 'Red Hat Display', sans-serif;
    color: #BABFB7;
    font-weight: bold;
    font-size: 50px;
  }

  .historia{
    font-family: 'Red Hat Display', sans-serif;
    font-size: 26px;
    color: #6B6B6B;
    font-weight: normal;
    line-height: 50px;
  }
}

#trabajo {
  .subtitulo {
    margin-left: 100px;
    font-family: 'Red Hat Display', sans-serif;
    color: #BABFB7;
    font-weight: bold;
    font-size: 50px;
  }

  .images {
    margin-left: 100px;
    margin-right: 100px;
  }

  .coluno {
    width: 440px;
    height: 520px;
  }

  .coldos{
    width: 338px;
    height: 336px;
  }

  .coltres{
    width: 337px;
    height: 290px;
  }

  .colcuatro{
    width: 337px;
    height: 387px;
  }

  .acces {
    img {
      transform: translate(10px, 20px);
    }

    &:hover {
      animation: zoom 2s;
    }

    @keyframes zoom {
      from {
        transform: scale(1);
      }
    
      to {
        transform: scale(1.1);
      }
    }
  }

  .texto {
    width: 337px;
    height: 338px;
    background-color: #C5CEBF;
    padding: 15px;

    h4, p {
      font-family: 'Red Hat Display', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 24px;
      text-align: center;
      color: white;
    }

    hr{
      color: white;
      width: 150px;
      border: 1px solid;
      margin: 10px 80px;
    }
  }

  .final {
    .slow {
      font-family: 'Red Hat Display', sans-serif;
      font-size: 22px;
      color: #C5CEBF;
      margin: 30px 50px;
    }

    .linea {
      width: 240px;
      margin-left: 100px;
    }

    .lineados{
      width: 240px;
      margin-right: 100px;
    }
  }
}