.navbar {
  height: 150px;
  background-color: rgba(255, 255, 255, 1);

  .redes{
    margin-right: 24px;
    .social-link {
      color: #C5CEBF;
      font-size: 20px;
      &:hover {
          color: rgb(15, 15, 15);
      }
    }
  }
}

.navegar {
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}

.collapse {
  height: 178px;
  
  .nav-link {
    color: #C5CEBF;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 20px;
    font-weight: lighter;

    &::before {
      display: block;
      content: attr(title);
      font-weight: bold;
      height: 0;
      overflow: hidden;
      visibility: hidden;
    }

    &:hover {
      color: rgb(116, 114, 114);
      font-weight: bolder;
    }
  }

  .pedido {
    font-weight: bold;
    &:hover {
      color: black;
      font-weight: 900;
    }
  }
}