.process {
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Red Hat Display', sans-serif;
    text-align: center;
    color: #C5CEBF;
}

.process-img {
    margin-bottom: 10px;
    width: 100px;
}